@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card{
    overflow: hidden;
    box-shadow: 0 2px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 200 ms ease-in;
    margin-top: 40px;
    background: #fff;
    width: 80%;
    height: auto;

}

.card-image{
    height: 100%;
    width:100%;
    object-fit: cover;
}

.card-title{
    padding: 1rem;
    text-align: center;
    margin-top: 20px;
}

.card-text{
    padding: 0 1rem;
    padding: 10px;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    
}
.div-image {
    width: 40%;
}

.card-content {
    width: 60%;
    margin-right: 40px;
}