.divCourses {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, 442px);
    gap:80px; */
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: center;
    /* margin-top: 130px; */
    margin-bottom: 75px;
}

.textFlayer{
    height: 206px;
    width: 447px;
    line-height: 20px;
    font-size: 15px;
    font-family: 'Inter';
    text-align: left;
    color: black;
    margin-left: 90px;
}
