@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.info {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* background: #D9D9D9; */
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: all 1s ease;
    margin: 50px;
}

.info:hover {
    background-color: rgba(217, 217, 217, 0.55);
}

.infoTitle {
    /* position: absolute; */
    color: black;
    font-family: Bebas Neue;
    font-size: 40px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    opacity: 1;
    transition: opacity 0.4s ease-in-out;
    text-shadow:
   -1px -1px 0 #FFF,  
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
     1px 1px 0 #FFF;
}

.info:hover .infoTitle {
    opacity: 0.1;
}

.infoText {
    position: absolute;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 20px;
    /* margin: 20px; */
    width: 210px;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.info:hover .infoText {
    width: 250px;
    height: 250px;
    background-color: rgba(56, 53, 53, 0.867);
    opacity: 1;
    border-radius: 5px;
}