.titleModal{
    color: #000;
    font-family: 'Bebas Neue';
    text-align: center;
    margin-bottom: 20px;
}

.textModal{
    font-family: 'Inter';
    font-size: 15px;
    color: black;
    line-height: 20px;
    padding: 0px 20px 20px;
}